@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  1em;
    background-color: grey;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;/*Alinhou os itens no centro no mesmo sentido do que o h1.*/
}

header > h1 {
    border: 1px solid dotted black;
    flex: 0 0 200px;/*o meu flex não vai crescer, ele não vai encolher e vai ficar fixo em 200px.*/
}

header > nav {
    border: 1px dotted black;
    display: flex; /*Antes desse display flex as caixas dos ancoras não se encaixavam dentro da caixa do nav. Com ele se encaixou dentro perfeitamente.*/
    flex-flow: row wrap;
    justify-content: flex-end; /*Faz com que a quebra ocorra no final da página.*/
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}